.App {
  text-align: center;
  background-color: white;
}

.MuiAppBar-colorPrimary-10{
  background-color:#dc3545;
}


.Login {
  margin-top:100px;
  margin-bottom:500px;
}

.Register {
  margin-top: 100px;
  margin-bottom:500px;
}

.Introduction {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.Introduction__Youtube {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.ytp-cued-thumbnail-overlay{
  height: 100%;
  width: 100%;
}