.App {
  text-align: center;
  background-color: white;
}

.MuiAppBar-colorPrimary-10{
  background-color:#dc3545;
}

.Introduction {
  margin-top: 50px;
}

<<<<<<< HEAD
.Login {
  margin-top:100px;
}
=======
.Register {
  margin-top: 100px;
}

>>>>>>> 8ef4390afb18d6f71a1451ca4af37b98ab381751

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-design {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size:14px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
