body {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.AR-tip {
  z-index: 9999;
  padding: 10px 29px 26px;
  min-width: 300px;
  max-width: 400px;
  display: block;
  background: #fff;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.AR-tip p {
  font-weight: 300;
  color: #000;
  font-size: 2em;
  line-height: 1.3em;
}

.links {
  color: #0078ff;
}
